* {
  box-sizing: border-box;
}

html {
  font-size: 14pt;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
}

body>* {
  padding: 1rem;
}

body>header {
  background: black;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

body>header>section {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: baseline;
}

section {
  max-width: 60ch;
  margin: 0 auto;
}

body>main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

body>main>section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.posts>div div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.875rem;
  opacity: 0.8;
}

textarea {
  border-radius: 5px;
}

form {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  white-space: nowrap;
  letter-spacing: 1px;
  padding: 0.25rem 0.5rem;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 0.875rem;
  max-height: 50rem;
  overflow: hidden;
}

a:link {
  text-decoration: none;
}

.comment>div {
  display: flex;
  gap: 0.75rem;
  opacity: 0.8;
  font-size: 0.875rem;
}

.user>div {
  display: flex;
  gap: 0.75rem;
}

.reaction {
  display: inline;
  font-size: 0.875rem;
  padding: 0;
  border: 0px solid currentColor !important;
  width: initial;
}

.reaction button {
  background: none;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
  padding: 0 0.25rem;
  cursor: pointer;
  opacity: 0.8;
}

.reaction:hover {
  opacity: 1;
}
